@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&family=Rubik+Mono+One&display=swap');

body {
  background-image: url('./images/background.jpg');
  min-width: 100%;
  min-height: 100%;
  color:darkgray;
}

.super-font {
  font-family: 'Acme', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik Mono One', sans-serif; */
}

.App {
  text-align: center;
}



